@model IEnumerable<ToDoList.Models.List>

<h1>To Do List</h1>
<h2 id="date"></h2>
<ul>
    @foreach (var b in Model)
    {
        <li>
            <a asp-controller="Lists" asp-action="Details" asp-route-name="@b.Task">@b.Task</a>,  @b.DueDate ,@b.Duetime,@b.TaskId, @b.IsDone
        </li>
    }


</ul>
<img src="~/img/task/todo.png" />