@model IEnumerable<ToDoList.Models.List>

<h1>To Do List</h1>
<h2 id="date"></h2>
<ol>
    @foreach (var b in Model)
    {
        <li>
      <input type="checkbox" id="task" />
            <label for=" checkbox"><a asp-controller="Lists" asp-action="Details" asp-route-name="@b.Task">@b.Task</a>,  @b.DueDate ,@b.Duetime,@b.TaskId</label>
        </li>
    }


</ol>
<img src="~/img/task/todo.png" />