@{
    ViewData["Title"] = "To Do List";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your to do List </h1>
    <p>This is the website where you can add , create and delete your dayily to do List</p>

    <p id="demo"></p>

    <script>
const d = new Date();
document.getElementById("demo").innerHTML = d;
    </script>

    <img src="~/img/task/listimg.png" />
</div>


<footer>
    <p><small>This website contains some photos from <sub><a href="https://blog.lulu.com/to-do-list/">Here!</a></sub></small></p>
    <p><small>Logo made at <a href=" https://looka.com" target="_blank"><sub>Looka.com</sub></a> </small></p>
    <p><small>Thanks to W3Schools.com for the date and time <a href=" https://www.w3schools.com/js/tryit.asp?filename=tryjs_date_current" target="_blank"><sub>Date and Time Code</sub></a> </small></p>

</footer>