@{
    ViewData["Title"] = "To Do List";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your to do List </h1>
    <p>This is the website where you can add , create and delete your dayily to do List</p>
    <img src="~/img/task/listimg.png" />
</div>


<footer>
    <p><small>This website contains some photos from <sub><a href="https://blog.lulu.com/to-do-list/">Here!</a></sub></small></p>
    <p><small></small></p>
</footer>