@model IEnumerable<ToDoList.Models.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tasks List</h1>

<p>
   View List Of Tasks:
</p>

<ul>
    <li>
        Breakfast
    </li>

    <li>
        Work on Project
        </l>

    <li>
        meet with team
    </li>
    <li>
        Shooping
    </li>
    <li>
        Make Lunch
    </li>
</ul>
